<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanshuaiko.backage.dao.MajorDao">
  <resultMap id="BaseResultMap" type="com.fanshuaiko.backage.entity.Major">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="major_no" jdbcType="VARCHAR" property="majorNo" />
    <result column="institute_no" jdbcType="VARCHAR" property="instituteNo" />
    <result column="college_no" jdbcType="CHAR" property="collegeNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, major_no, institute_no, college_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from major
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from major
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fanshuaiko.backage.entity.Major">
    insert into major (id, name, major_no, 
      institute_no, college_no)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{majorNo,jdbcType=VARCHAR}, 
      #{instituteNo,jdbcType=VARCHAR}, #{collegeNo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fanshuaiko.backage.entity.Major">
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="majorNo != null">
        major_no,
      </if>
      <if test="instituteNo != null">
        institute_no,
      </if>
      <if test="collegeNo != null">
        college_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="majorNo != null">
        #{majorNo,jdbcType=VARCHAR},
      </if>
      <if test="instituteNo != null">
        #{instituteNo,jdbcType=VARCHAR},
      </if>
      <if test="collegeNo != null">
        #{collegeNo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanshuaiko.backage.entity.Major">
    update major
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="majorNo != null">
        major_no = #{majorNo,jdbcType=VARCHAR},
      </if>
      <if test="instituteNo != null">
        institute_no = #{instituteNo,jdbcType=VARCHAR},
      </if>
      <if test="collegeNo != null">
        college_no = #{collegeNo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanshuaiko.backage.entity.Major">
    update major
    set name = #{name,jdbcType=VARCHAR},
      major_no = #{majorNo,jdbcType=VARCHAR},
      institute_no = #{instituteNo,jdbcType=VARCHAR},
      college_no = #{collegeNo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryMajorByInstituteNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from major
    where institute_no = #{instituteNo}
  </select>

  <select id="likeQueryMajorName" parameterType="java.lang.String" resultType="java.lang.String">
    select name from major
    where name like concat('%',#{name},'%')
  </select>
</mapper>