<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanshuaiko.backage.dao.ScoreDao">
    <resultMap id="BaseResultMap" type="com.fanshuaiko.backage.entity.Score">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="student_no" jdbcType="VARCHAR" property="studentNo"/>
        <result column="test_no" jdbcType="BIGINT" property="testNo"/>
        <result column="choice" jdbcType="INTEGER" property="choice"/>
        <result column="subjective" jdbcType="INTEGER" property="subjective"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, student_no, test_no, choice, subjective, total, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from score
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from score
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.fanshuaiko.backage.entity.Score">
    insert into score (id, student_no, test_no, 
      choice, subjective, total, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{studentNo,jdbcType=VARCHAR}, #{testNo,jdbcType=BIGINT}, 
      #{choice,jdbcType=INTEGER}, #{subjective,jdbcType=INTEGER}, #{total,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.fanshuaiko.backage.entity.Score">
        insert into score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="studentNo != null">
                student_no,
            </if>
            <if test="testNo != null">
                test_no,
            </if>
            <if test="choice != null">
                choice,
            </if>
            <if test="subjective != null">
                subjective,
            </if>
            <if test="total != null">
                total,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="studentNo != null">
                #{studentNo,jdbcType=VARCHAR},
            </if>
            <if test="testNo != null">
                #{testNo,jdbcType=BIGINT},
            </if>
            <if test="choice != null">
                #{choice,jdbcType=INTEGER},
            </if>
            <if test="subjective != null">
                #{subjective,jdbcType=INTEGER},
            </if>
            <if test="total != null">
                #{total,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fanshuaiko.backage.entity.Score">
        update score
        <set>
            <if test="studentNo != null">
                student_no = #{studentNo,jdbcType=VARCHAR},
            </if>
            <if test="testNo != null">
                test_no = #{testNo,jdbcType=BIGINT},
            </if>
            <if test="choice != null">
                choice = #{choice,jdbcType=INTEGER},
            </if>
            <if test="subjective != null">
                subjective = #{subjective,jdbcType=INTEGER},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fanshuaiko.backage.entity.Score">
    update score
    set student_no = #{studentNo,jdbcType=VARCHAR},
      test_no = #{testNo,jdbcType=BIGINT},
      choice = #{choice,jdbcType=INTEGER},
      subjective = #{subjective,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <insert id="batchAdd">
        insert into score
        (student_no,
        test_no,
        total,
        create_time)
        values
        <foreach collection="scoreList" item="item" index="index" separator=",">
            (
            #{item.studentNo},
            #{item.testNo},
            #{item.total},
            now()
            )
        </foreach>
    </insert>

    <select id="queryByConditions" parameterType="com.fanshuaiko.backage.entity.VO.ScoreQueryTerm"
            resultType="com.fanshuaiko.backage.entity.VO.ScoreReturnVo">
        select
        t.name as testName,
        st.student_no as studentNo,
        st.name as studentName,
        m.name as majorName,
        c.class_co as classCo,
        s.total as totalScore
        from score s
        left join test t on s.test_no = t.id
        left join student st on st.student_no = s.student_no
        left join major m on m.major_no = st.major_no
        left join class c on c.class_no = st.class_no
        where 1=1
        <if test="majorName !=null and majorName !=''">
            and m.name = #{majorName}
        </if>
        <if test="classCo !=null and classCo !=0">
            and c.class_co = #{classCo}
        </if>
        <if test="studentName !=null and studentName !=''">
            and st.name = #{studentName}
        </if>
        <if test="studentNo !=null and studentNo !=0">
            and st.student_no = #{studentNo}
        </if>

    </select>
</mapper>