<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanshuaiko.backage.dao.TestDao">
    <resultMap id="BaseResultMap" type="com.fanshuaiko.backage.entity.Test">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="teacher_no" jdbcType="VARCHAR" property="teacherNo"/>
        <result column="total_score" jdbcType="VARCHAR" property="totalScore"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, course_id, teacher_no, total_score, status, start_time, end_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from test
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.fanshuaiko.backage.entity.Test">
    insert into test (id, name, course_id, 
      teacher_no, total_score, status, 
      start_time, end_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{courseId,jdbcType=INTEGER}, 
      #{teacherNo,jdbcType=VARCHAR}, #{totalScore,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.fanshuaiko.backage.entity.Test">
        insert into test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="teacherNo != null">
                teacher_no,
            </if>
            <if test="totalScore != null">
                total_score,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="teacherNo != null">
                #{teacherNo,jdbcType=VARCHAR},
            </if>
            <if test="totalScore != null">
                #{totalScore,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fanshuaiko.backage.entity.Test">
        update test
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="teacherNo != null">
                teacher_no = #{teacherNo,jdbcType=VARCHAR},
            </if>
            <if test="totalScore != null">
                total_score = #{totalScore,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fanshuaiko.backage.entity.Test">
    update test
    set name = #{name,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=INTEGER},
      teacher_no = #{teacherNo,jdbcType=VARCHAR},
      total_score = #{totalScore,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      start_time = #{startTime},
      end_time = #{endTime}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <insert id="insertTest" parameterType="com.fanshuaiko.backage.entity.VO.TestVO">
    insert into test (id, name, course_id,
      teacher_no, total_score, status,
      start_time, end_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{courseId,jdbcType=INTEGER},
      #{teacherNo,jdbcType=VARCHAR}, #{totalScore,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
       #{startTime},
      #{endTime})
  </insert>

    <insert id="insertTestClass" parameterType="com.fanshuaiko.backage.entity.VO.TestVO">
        insert into test_class(test_no,class_no)
        values
        <foreach collection="classNoList" item="item" index="index" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>

    <insert id="insertTestQuestion">
        insert into test_question(test_no,question_no,score,question_type)
        values
        <foreach collection="questionNoList" item="item" index="index" separator=",">
            (#{testNo},#{item},#{score},#{questionType})
        </foreach>
    </insert>

    <resultMap id="TestReturnVo" type="com.fanshuaiko.backage.entity.VO.TestReturnVo">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="name" property="courseName" jdbcType="VARCHAR"/>
        <result column="name" property="teacherName" jdbcType="VARCHAR"/>
        <result column="total_score" property="totalScore" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="test_time" property="testTime" jdbcType="INTEGER"/>
        <collection property="questionNo" ofType="java.lang.Long" javaType="java.util.List">
            <result column="question_no"/>
        </collection>
        <collection property="classNo" ofType="java.lang.String" javaType="java.util.List">
            <result column="class_no"/>
        </collection>
    </resultMap>

    <select id="queryByTeacherNo" parameterType="java.lang.String"
            resultMap="TestReturnVo">
        select
	t.id,
	t.name,
	c.name ,
	te.name ,
	t.total_score ,
	t.status,
	t.start_time ,
	t.end_time ,
	t.test_time ,
	tq.question_no ,
	tc.class_no
from
	test t
left join course c on
	t.course_id = c.id
left join teacher te on
	t.teacher_no = te.teacher_no
right join test_question tq on
	t.id = tq.test_no
right join test_class tc on
	t.id = tc.test_no
where
	t.teacher_no = #{teacherNo}
    </select>

</mapper>